body {
  background-color: #0a0f1c;
  color: #00ffff;
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding-top: 120px;
}

h1 {
  font-size: 64px;
  margin-bottom: 10px;
}

h2 {
  font-size: 28px;
  color: #9ffcff;
  margin-top: 10px;
}

p {
  font-size: 18px;
  color: #c9fefe;
}

.container {
  max-width: 1000px;
  margin: auto;
  padding: 20px;
}

img {
  width: 280px;
  margin-top: 30px;
  border-radius: 12px;
  box-shadow: 0 0 20px #00ffff55;
}
